.App {
  text-align: center;
}

.body{
  font-family: Lato;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.imageGallery{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  min-width: 1400px;
  margin: auto;
}

.contacts{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-width: 1300px; 
}

.generalContacts{
  min-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.socialMediaContacts{
  min-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.headerLinks{
  font-size: 25px;
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  flex-direction: row;
  justify-content: space-between;
  min-width: 1200px;
  height: 80px;
  line-height: 80px;
}

.featuredImageContainer{
  display: flex;
  flex-direction: row;
}

.featuredText{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Lato;
}

.featuredImage{
  min-width: 700px;
  padding: 10px;
}

.slideShowPicture{
    max-height: 500px;
    width: 100%;
}